body {
	padding: 2%;
	background: #e0e5ec;
}
/* list */
.container {
	display: flex;
	flex-wrap: wrap;
}
/* list-item */
.item {
	display: flex;
	padding: 0.8em;
	width: 100%;
}
/*************************************************************
* The following lines help to show only one card on hover
* https://css-tricks.com/hover-on-everything-but/
**************************************************************/
.container:hover > .item {
	filter: brightness(70%) grayscale(80%);
	transition: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.container:hover > .item:hover {
	filter: brightness(100%);
	transition: 0.9s;
}
/*************************************************************/

@media all and (min-width: 40em) {
	.item {
		width: 50%;
	}
}
@media all and (min-width: 60em) {
	.item {
		width: 33.33%;
	}
}
/*  */
.card {
	/* opacity: 0.6; */
	min-width: 100%;
	max-width: 100%;
}

.card:hover {
	/* opacity: 1; */
	box-shadow: 8px 8px 20px #c3c7cd, -8px -8px 20px #fdffff;
	text-shadow: 8px 8px 20px #c3c7cd, -8px -8px 20px #fdffff;
	transition: cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* list-content */

.content {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-content: stretch;
	justify-content: stretch;
	padding-top: 1em;
	width: 100%;
}

.content p {
	display: flex;
	flex: 1 0 auto;
	align-content: stretch;
	font-size: 1em;
	padding: 0 10px;
}

.icon {
	align-content: flex-start;
}

/*
Credits: Mr. Asif Biryani
for helping with this CSS piece
*/
.card-content {
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/*
Credits: The card css using flexbox
https://codepen.io/lottejackson/pen/PwvjPj?editors=1100
*/
