body {
	padding: 2%;
	overflow-x: hidden;
	background: linear-gradient(90deg, #f0f5fc, #e0e5ec);
}

.container {
	display: flex;
	flex-wrap: wrap;
	transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
	position: absolute;
	top: 0;
	margin-top: -2000;
	margin-left: -800;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.item,
.card,
.cardContent {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card {
	opacity: 0.6;
	background-color: #e0e5ec;
}

.card:hover {
	opacity: 1;
}

@media all and (min-width: 40em) {
	.item {
		width: 50%;
	}
}
@media all and (min-width: 60em) {
	.item {
		width: 33.33%;
	}
}

.item {
	display: flex;
	padding: 0.8em;
	width: 100%;
	position: relative;
	margin: 0 auto;
	/* padding: 0; */
	/* list-style: none; */
}

.content {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 1em;
	font-size: 1rem;
	width: 92%;
}

.content p {
	flex: 1 0 auto;
}

.content svg {
	flex: 1 0 auto;
}
